Trabalho 3/main
Trabalho 3/mat_prod_naive
Trabalho 3/mat_prod_naive_4000
Trabalho 4/primos
.gitignore
Trabalho 4/primosbag
Trabalho 4/quicksort
Trabalho 4/gen
Trabalho 4/isend
Trabalho 4/xydata
Trabalho 4/run_quick
